<%= link_to "New Discount", new_merchant_bulk_discount_path %>

<% @discounts.each do |discount| %>
  <section id="discount-<%= discount.id %>">
    <%= link_to "Discount #{discount.id}", merchant_bulk_discount_path(discount.id) %>
    <p>Discount Percent: <%= discount.percent * 100 %>%</p>
    <p>Minimum Required Quantity: <%= discount.required_quantity %></p>
  </section>
<% end %>
