<%= link_to "New Discount", new_merchant_bulk_discount_path %>
<% @discounts.each do |discount| %>
  <section id="discount-<%= discount.id %>">
    <%= discount.id %>
    <%= discount.percent %>
    <%= discount.required_quantity %>
  </section>
<% end %>
