<%= render partial: 'address', locals: { user: @user, user_address: @user.addresses.first } %>
<%= link_to 'Edit', '/profile/edit' %>
<%= link_to 'Change Password', '/profile/edit_password' %>

<%= link_to 'My Orders', '/profile/orders' %>

<% @user.addresses.each do |address| %>
  <section id="address-<%= address.id %>">
    <%= link_to address.nickname, "/profile/addresses/#{address.id}" %>
    <%= link_to "Edit Address", "/profile/addresses/#{address.id}/edit" %>
    <%= link_to "Delete Address", "/profile/addresses/#{address.id}", method: :delete %><br>
  </section>
<% end %>
